<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
  <%- include('_header')%>
  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope='col'>Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr>
            <td><%= url %></td>
            <td><%= urls[url] %></td>
            <td>
              <form method="GET" action="/urls/<%= url %>">
                <button type="submit" class="btn btn-outline-primary">Edit</button>
              </form>
            </td>
            <td>
              <form method="POST" action='/urls/<%= url %>/delete'>
                <button type="submit" class="btn btn-outline-danger" value="Delete">Delete</buttom>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
</body>
</html>